extends ../layout
include ../mixins/form-helpers
include ../mixins/ui-helpers

block content

  +showMessage(session.flash)
      
  form#user-form(action="/login", method="POST")
    fieldset
      legend= __("Login")
    
      .form-group
        +label("username", __("username"))
        +email("username")
        +errorMessage(null, 'username')
      .form-group
        +label("password", __("password"))
        +password("password")
        +errorMessage(null, 'password')
      .form-group
        +label("captcha", __("captcha"))
        img(src="/captcha.jpg" alt="captcha")
        +text("captcha")
        +errorMessage(null, 'captcha')
      +hidden("redirect_url")
      
    .form-actions
      a.btn(href="/resetpassword")= __("Forget Password?")
      | 
      input.btn.btn-primary(type="submit", value=__("Login"))
