extends ../layout
include ../mixins/form-helpers

block content

  form#user-form(action="/login", method="POST")
    fieldset
      legend= __("Login")
    
      .form-group
        +label("username", __("username"))

        +text("username", model.username)
        +errorMessage(model, 'username')
      .form-group
        +label("password", __("password"))

        +password("password", model.password)
        +errorMessage(model, 'password')
      .form-group
        +label("captcha", __("captcha"))

        +password("captcha", model.captcha)
        +errorMessage(model, 'captcha')
      .form-group
        +label("redirect_url", __("redirect_url"))

        +text("redirect_url", model.redirect_url)
        +errorMessage(model, 'redirect_url')

    .form-actions
      a.btn.btn-warning(href="/resetpassword")= __("Forget Password?")
      | 
      input.btn.btn-primary(type="submit", value=__("Login"))
